/* minimal custom styles for animation */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fadeIn {
  animation: fadeIn 0.5s ease;
}
/* Warna option saat dropdown dibuka */
select option {
  color: #fff; /* merah */
  background-color: #32373B; /* warna background */
}

select option:hover {
  background-color: #fff;
  color: white;
}
